body{
    margin:0%;
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 50px;

h2{
    font-size: 50px;
}
p{
    color:darkgrey;
}
}
.Orange_highlight{
    color:blueviolet;
}
.half-width{
    width:40%;
    float:left;
    margin-bottom: 10%;
    padding: 5%;
}
.half-width img{
    width:90%;
}
.Top_banner{
    
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
  


}
section{
    height:500px;
    
}
.Link_Button{
     text-decoration: none;
     background-color: brown;
     background-image:linear-gradient(45 deg,lightsalmon,tomato);
     padding: 5px 10px;
     border-radius: 5px;
     color:white;
     font-weight: 400;
}
.dream_big{
     background: url("Images/dream-bg.png");
     background-repeat: no-repeat;
     background-position: right;
}
.single_exp{
    box-shadow: 10px 10px 40px greenyellow;
}
#Full_id{
    border-left: 7px solid;
}
footer p{
    text-align: center;
}